.card_footer_with_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 5%;
}