.recorded_data_list_span {
    align-items: center;
    margin: 0% auto 0% auto;
    text-align: left;
}

.recorded_data_list_span_left{
    margin: 0% auto 0% 0%;
}

.recorded_data_list_span_right{
    margin: 0% 5% 0% auto;
}

.card_header_with_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .demo_chart{
//     display: flex;
//     margin: auto;
//     size: 50%;
// }