/* under line */
hr {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    height: 1px;
    background-color: #cf7500;
    border-color: #cf7500;

    @media screen and (max-width: 540px) {
        width: 80%;
    }
}

// data card 

.raw_data_lst_left {
    margin: 0% auto 0% 0%;
}

.raw_data_lst_right {
    margin: 0% 0% 0% auto;
}

.png-icon {
    width: 24px;
    height: 24px;
    margin: auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
    filter: invert(100%);
}