<nb-layout>

  <nb-layout-header fixed>
            <nav>
                <ul class="nav_links">
                    <li><a href="/livedata">Live Data</a></li>
                    <li><a href="/graphs">Graph's</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </nav>
  </nb-layout-header>

  <nb-layout-column>
     <!-- Routing to subpages -->
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
