.boards-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_header_with_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}